#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.containerRectangle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.containerPaths {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.door {
  width: 25px;
  height: 25px;
  background-color: #7b4716;
  position: absolute;
}

.circleStart {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.rectangleBuilding {
  width: 300px;
  height: 200px;
  background-color: skyblue;
  border: 2px solid #333; /* Optional border for visibility */
  position: relative;
  /* border-radius: 8px; */      /* Optional rounded corners */
}

.rectangleBuilding.active {
  background-color: purple;
}

.horizontalScroll {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 1em;
  margin: 1em;
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  display: flex;
  gap: 1em;
}

/*.horizontalScroll::-webkit-scrollbar {
  display: none;
} */

.horizontalScrollItem {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: #ccc;
  border-radius: 8px;
}

.verticalScroll {

}
